@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Appointments = "active";
    ViewBag.Title = "Добавить врачебный прием";
}
<h4 class="text-center">
    @ViewBag.Title
</h4>


<h5 class="text-center">
    В разработке
</h5>
